* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --White: hsl(0, 0%, 100%);
  --Light_grayish_violet: hsl(270, 3%, 87%);
  --Dark_grayish_violet: hsl(279, 6%, 55%);
  --Very_dark_violet: hsl(278, 68%, 11%);
}
.flex {
  display: flex;
}
body {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
}
.container {
  height: 100vh;
}
.bg-gradient {
  background-image: url(/images/bg-main-desktop.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100vh;
  width: 30%;
}

.front-card {
  background-image: url(/images/bg-card-front.png);
  height: 220px;
  width: 400px;
  position: absolute;
  top: 80px;
  left: 180px;
  border-radius: 10px;
}
.back-card {
  position: absolute;
  top: 330px;
  left: 250px;
}

.theform {
  position: absolute;
  top: 200px;
  left: 900px;
  font-size: 13px;
  display: none;
}

.theform input {
  width: 400px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 10px;
  margin-left: 0;
}
.theform input[type="month"],
#cvc {
  width: 195px;
}
.theform input[type="submit"],
.btn {
  width: 100%;
  height: 50px;
  background-color: #000;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-family: "Space Grotesk", sans-serif;
  text-align: center;
  margin-top: 50px;

}

.Thanks {
  position: absolute;
  top: 200px;
  left: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Thanks > * {
  margin: 10px;
}
.Thanks > *:nth-child(3) {
  font-size: 15px;
  color: var(--Dark_grayish_violet);
}
  
.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  left: 600px;
}


@media only screen and (max-width: 480px) {
  .bg-gradient {
    background-size: cover;
    position: relative;
    height: 30vh;
    width: 100vw;
  }
  .back-card {
    width: 60px;
    top: 20px;
    left: 0;
    margin-left: 20vw;
  }
  .back-card img{
    width: 75vw;
    z-index: -1;
  }
  .front-card {
    width: 75vw;
    height: 25vh;
    top: 120px;
    left: 0px;
    margin-left: 5vw;
    z-index: 1;
  }
  .Thanks {
    position: relative;
    left: 0;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .attribution {
    font-size: 11px;
    text-align: center;
    position: relative;
    top: 250px;
    left: 0px;
  }
  .btn{
    width: 80%;
    padding: 15px;
    margin-top: 25px;
  }
}
